.container {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: auto;
  grid-template-areas:
    "score text"
    "score date"
}

.score {
  grid-area: score;
}

.text {
  grid-area: text;
}

.date {
  grid-area: date;
}