.container {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'score text priority'
    'score date priority';
  font-size: var(--lumo-font-size-l);
}

.score {
  grid-area: score;
  color: var(--lumo-primary-color-50pct);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-inline-end: 4rem;
}

.number {
  font-size: 6rem;
}

.vote {
  cursor: pointer;
}

.text {
  grid-area: text;
  display: flex;
  align-items: center;
}

.date {
  grid-area: date;
  font-size: var(--lumo-font-size-s);
}

.priority {
  user-select: none;
  grid-area: priority;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--lumo-primary-color-50pct);
}
